#changelogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#changelogo .logoform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#changelogo .form-control {
    margin-bottom: 1vh;
    width: 50vw;
}

#changelogo .form-btn {
    width: 10vw;
}

#changelogo .logo-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#changelogo .logo-preview {
    width: 15vw;
    background-color: #263238;
}