#accountpage {
    padding-right: .5vw;
}

#accountpage .form-control {
    margin-bottom: .5vw;
}

#accountpage fieldset {
    padding-top: .5vw;
}

#accountpage .form-btn {
    margin-left: 1.5vw;
    margin-bottom: 1vw;
}

#accountpage .border {
    border: .1vw solid rgb(189, 189, 189);
    border-radius: .5vw;
}

#accountpage .message {
    margin-left: .5vw;
}