#passwordupdate {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#passwordupdate .pwcontainer {
    height: 300px;
    width: 200px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#passwordupdate .avatar {
    margin-bottom: 10px;
}

#passwordupdate .form .title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

#passwordupdate .form .form-btn {
    margin-top: 20px;
    width: 200px;
    margin-bottom: 10px;
}