USE [master]
GO
/****** Object:  Database [Product_DB]    Script Date: 16/10/2020 19:59:12 ******/
CREATE DATABASE [Product_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Product_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Product_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Product_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Product_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Product_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Product_DB]
GO
/****** Object:  Table [dbo].[Product_Database]    Script Date: 16/10/2020 19:59:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Database](
	[ID] [nvarchar](50) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Retail_Price] [float] NOT NULL,
	[Product] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Year] [smallint] NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[Product_Category] [nvarchar](50) NOT NULL,
	[Sales_Price] [float] NOT NULL,
	[Review_ID] [nvarchar](50) NOT NULL,
	[Stock] [tinyint] NOT NULL,
	[Size] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
