#editproduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#editproduct .form-control {
    margin-bottom: 1vh;
}

#editproduct .row .col-md-6 {
    max-width: 19vw;
}